[submodule "zk-labs/on-chain/lib/forge-std"]
	path = zk-labs/on-chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zk-labs/on-chain/lib/openzeppelin-contracts"]
	path = zk-labs/on-chain/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "zk-labs/super_dash"]
	path = zk-labs/super_dash
	url = https://github.com/kunallimaye/super_dash
[submodule "sonic/smart-contract/lib/forge-std"]
	path = sonic/smart-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sonic/smart-contract/lib/openzeppelin-contracts"]
	path = sonic/smart-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "redbelly/portfolio-manager/lib/forge-std"]
	path = redbelly/portfolio-manager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "redbelly/portfolio-manager/lib/chainlink-evm"]
	path = redbelly/portfolio-manager/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
[submodule "redbelly/portfolio-manager/lib/openzeppelin-contracts"]
	path = redbelly/portfolio-manager/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "tee/cvm-reverse-proxy"]
	path = tee/cvm-reverse-proxy
	url = https://github.com/finiteloopme/cvm-reverse-proxy
[submodule "midnight-ntwrk/sonic2eth/lib/openzeppelin-contracts"]
	path = midnight-ntwrk/sonic2eth/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "midnight-ntwrk/proof-of-ownership/foundry/lib/openzeppelin-contracts"]
	path = midnight-ntwrk/proof-of-ownership/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "midnight-ntwrk/privacy-preserving-defi/contracts/lib/openzeppelin-contracts"]
	path = midnight-ntwrk/privacy-preserving-defi/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
