# Dependencies
frontend/node_modules
backend/target
proof-service/target

# Gemini
.gemini

# Build artifacts

# Logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Certificates
*.pem
